<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
    <appSettings>
      <!-- CommandType值为: StoredProcedure, TableDirect, Text -->
      <add key="CommandType" value="Text"/>
      <!--SQL 配置-->
      <add key="CHECK_TABLE" value="if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FW_Uploadify01]') and OBJECTPROPERTY(id, N'IsUserTable') = 1) select 'N' IsExists else select 'Y' IsExists" />
      <add key="SELECT" value="select A.RowID, A.UserName,A.AuthorityID,A.OrderID,A.TableName,A.OriginFile,A.NewFile,A.FileSize,A.UploadDate ,A.Remarks,A.Creator,A.CreateDate,A.Modifier,A.ModifyDate,A.IsDelete from FW_Uploadify01 A where A.IsDelete='N' and A.OrderID=@OrderID and A.TableName=@TableName" />
      <add key="INSERT" value="insert into FW_Uploadify01(OrderID, TableName, UserName, AuthorityID, OriginFile, NewFile, FileSize, UploadDate, Remarks, Creator) values(@OrderID, @TableName, @UserName, @AuthorityID, @OriginFile, @NewFile, @FileSize, @UploadDate, @Remarks, @Creator)" />
      <add key="DELETE_SINGLE" value="delete from FW_Uploadify01 where RowID=@RowID" />
      <add key="DELETE_BATCH" value="delete from FW_Uploadify01 where charindex(','+cast([RowID] as nvarchar)+',',','+ @IDlist +',')>0" />
      <add key="CREATE_TABLE" value="
        create table FW_Uploadify01(
          RowID numeric(18, 0) IDENTITY (100000000000000000, 1) primary key clustered,
          OrderID nvarchar (50) NULL,
          TableName nvarchar (50) NULL ,
          UserName nvarchar (50) NULL ,
          AuthorityID nvarchar (500) NULL ,
          OriginFile nvarchar (500) NULL ,
          NewFile nvarchar (500) NULL ,
          FileSize nvarchar (50) NULL ,
          UploadDate datetime NULL ,
          Remarks nvarchar (250) NULL ,
          Creator nvarchar (50) NULL ,
          CreateDate datetime default getdate() ,
          Modifier nvarchar (50) NULL ,
          ModifyDate datetime NULL ,
          IsDelete nvarchar (1) default N'N' 
        )
        execute sp_addextendedproperty 'MS_Description', '自动编号', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'RowID'
        execute sp_addextendedproperty 'MS_Description', '表中资料编号', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'OrderID'
        execute sp_addextendedproperty 'MS_Description', '表名', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'TableName'
        execute sp_addextendedproperty 'MS_Description', '上传用户', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'UserName'
        execute sp_addextendedproperty 'MS_Description', '权限编号', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'AuthorityID'
        execute sp_addextendedproperty 'MS_Description', '原文件名', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'OriginFile'
        execute sp_addextendedproperty 'MS_Description', '新文件名', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'NewFile'
        execute sp_addextendedproperty 'MS_Description', '文件大小', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'FileSize'
        execute sp_addextendedproperty 'MS_Description', '上传日期', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'UploadDate'
        execute sp_addextendedproperty 'MS_Description', '备注', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'Remarks'
        execute sp_addextendedproperty 'MS_Description', '创建者', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'Creator'
        execute sp_addextendedproperty 'MS_Description', '创建时间', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'CreateDate'
        execute sp_addextendedproperty 'MS_Description', '修改者', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'Modifier'
        execute sp_addextendedproperty 'MS_Description', '修改时间', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'ModifyDate'
        execute sp_addextendedproperty 'MS_Description', '逻辑删除：Y=是，N=否', 'user', 'dbo', 'table', 'FW_Uploadify01', 'column', 'IsDelete'
        
        if @@error==0 select 'Y' IsSuccess else select 'N' IsSuccess " />
    </appSettings>
    <connectionStrings/>
    <system.web>

    </system.web>
</configuration>
