body {
font-family: Verdana, Arial, Helvetica, sans-serif !important;
font-size:10px !important;
 color:#333333 !important;
border:0;
}

td {font-family: Verdana, Arial, Helvetica, sans-serif;}
th {font-family: Verdana, Arial, Helvetica, sans-serif;}

.font_11px_1542af{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#1542af;
font-weight:normal
}

.font_11px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
}

.font_11red{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:red;
font-weight:bold;
}

.font_11px_gray{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#777777;}


.font_11bold_1542af{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
}

.font_11bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;

}

.font_12px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px; 
color:#333333;
font-weight:bold;}

.font_11px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
font-weight:bold;}

.font_12bold{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#1542af;
font-weight:bold;
}

.font_13px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px; 
color:#000000;
font-weight:bold;}

.font_14px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px; 
color:#333333;
font-weight:bold;}

.link_13bold a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; color:#333333;
font-weight:bold;
text-decoration:none;}

.link_13bold a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#000000;
font-weight:bold;
text-decoration:underline}

/*nav_btn*/
.nav_btn a{
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:28px;
text-decoration:none; 
width:87px; 
height:40px; 
color:#000; 
background-image:url(../images/nav_btn_1.png);
line-height:40px; 
font-size:10px; font-weight:bold;
}

.nav_btn a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:28px;
text-decoration:none; 
width:87px; 
height:40px; 
color:#000; 
background-image:url(../images/nav_btn_2.png);
line-height:40px; 
font-size:10px; font-weight:bold;
}

/*nav_btn_01*/
.nav_btn_01 a{ 
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:30px; 
padding-right:5px;
text-decoration:none; 
width:95px;
height:30px; 
color:#000; 
background-image:url(../images/nav_btn_01.png);
line-height:30px; 
font-size:9px; 
font-weight:bold;
background-position: center center
}
.nav_btn_01 a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:30px;
padding-right:5px;
text-decoration:none; 
width:95px;
height:30px; 
color:#000; 
background-image:url(../images/nav_btn_02.png);
line-height:30px; 
font-size:10px; 
font-weight:bold;
}

.nav_btn_010 a{ 
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:30px; 
padding-right:5px;
text-decoration:none; 
width:60px;
height:30px; 
color:#000; 
background-image:url(../images/nav_btn_01.png);
line-height:40px; 
font-size:9px; 
font-weight:bold;
}
.nav_btn_010 a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:30px;
padding-right:5px;
text-decoration:none; 
width:60px;
height:30px; 
color:#000; 
background-image:url(../images/nav_btn_02.png);
line-height:40px; 
font-size:10px; 
font-weight:bold;
}

/*nav_btn_03*/
.nav_btn_03 a{ 
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:28px; 
text-decoration:none; 
width:62px; 
height:40px; 
color:#000; 
background-image:url(../images/nav_btn_3.png);
line-height:40px; 
font-size:10px; font-weight:bold;
}

.nav_btn_03 a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
display:block; 
text-align:left;
padding-left:28px;
text-decoration:none; 
width:62px; 
height:40px; 
color:#000; 
background-image:url(../images/nav_btn_3_1.png);
line-height:40px; 
font-size:10px; font-weight:bold;
}

/*nav_btn_03 END*/


/*text_bg*/
.text_bg a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
text-decoration:none;
text-align:center;
padding-top:70px;
color:#000;
width:190px;
height:40px;
display:block;
background:url(../images/text_bg_01.jpg);
}
.text_bg a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
text-decoration:none;
text-align:center;
padding-top:70px;
color:#000;
width:190px;
height:40px;
display:block;
background:url(../images/text_bg_02.jpg);
}
/*nav_left 一级菜单*/
.nav_left a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#000;
text-decoration:none;
background-position: 0px;
background-repeat: no-repeat;
width:180px;
padding-left:30px;
padding-top:8px;
padding-bottom:10px;
background-attachment: scroll;
}
.nav_left a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#000;
text-decoration:none;
background:url(../images/nav_left/btn_bg_1.jpg);
background-position: 0px;
background-repeat: no-repeat;
width:180px;
padding-left:30px;
padding-top:8px;
padding-bottom:10px;
background-attachment: scroll;
}
.nav_left_1 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#000;
text-decoration:none;
background:url(../images/nav_left/btn_bg_2.jpg);
background-position: 0px;
background-repeat: no-repeat;
width:180px;
padding-left:30px;
padding-top:8px;
padding-bottom:10px;
background-attachment: scroll;
}

/*nav_left_01 二级菜单*/
.nav_left_01 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000;
text-decoration:none;
background-position: 0px;
background-repeat: no-repeat;
width:180px;
padding-left:30px;
padding-top:6px;
padding-bottom:8px;
background-attachment: scroll;
}
.nav_left_01 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif
;font-size:10px;
font-weight:bold;
color:#000;
text-decoration:none;
background:url(../images/nav_left/btn_bg_1.jpg);
background-position: 0px;
background-repeat: no-repeat;
width:180px;
padding-left:30px;
padding-top:6px;
padding-bottom:8px;
background-attachment: scroll;
}
.nav_left_001 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
text-decoration:none;
background:url(../images/nav_left/btn_bg_2.jpg);
background-position: 0px;
background-repeat: no-repeat;
width:180px;
padding-left:30px;
padding-top:8px;
padding-bottom:10px;
background-attachment: scroll;
}

.ico_home a{
display:block;
background-image:url(../images/ico_home.jpg);
height:27px;
width:45px;
line-height:27px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:10px;
color:#FFFFFF;
text-decoration:none;
text-align:left;
padding-left:25px;
}
.ico_home a:hover{
display:block;
background-image:url(../images/ico_home_1.jpg);
height:27px;
width:45px;
line-height:27px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:10px;
color:#FFFFFF;
text-decoration:underline;
text-align:left;
padding-left:25px;
}

.ico_close a{
display:block;
background-image:url(../images/ico_close.jpg);
height:27px;
width:45px;
line-height:27px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:10px;
color:#FFFFFF;
text-decoration:none;
text-align:left;
padding-left:25px;
}
.ico_close a:hover{
display:block;
background-image:url(../images/ico_close_1.jpg);
height:27px;
width:45px;
line-height:27px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:10px;
color:#FFFFFF;
text-decoration:underline;
text-align:left;
padding-left:25px;
}


/*DIV*/
#top{
	float:left;
	position:absolute;
	width:100%;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}
/*Ai Shipment List*/
#list{
float:left;
position:absolute;
width:968px;
height:500px;
margin-left:10px;
margin-top:120px;
}
/*Ai Shipment List end*/

/*MAWB Iformation*/
#mawb_div{
	float:left;
	position:absolute;
	height:150px;
	margin-left:10px;
	margin-top:120px;
	background-color:#ffffff;

}
#mawb_div1{
	float:left;
	position:absolute;
	overflow:auto;
	height:565px;
	margin-left:10px;
	margin-top:120px;
	
    
}
#mawb_div2{
float:left;
position:absolute;
width:280px;
margin-left:766px;



}
/*MAWB Iformation END*/

/*HAWB Information*/
#hawb_div{
margin-top:30px;
margin-bottom:30px;
background-color:#ffffff;
margin-left:10px;
}
#hawb_div1{
float:left;
position:absolute;
height:560px;
background-color:#ffffff;
}

#hawb_div2{
float:left;
position:absolute;
width:320px;
height:200px;
margin-left:735px;
background-color:#FFFFFF;
}
#hawb_div3{
float:left;
position:absolute;
width:99%;
margin-left:10px;
margin-top:120px;
height:570px;
overflow:auto;
}
#hawb_div4{
float:left;
position:absolute;
width:700px;
height:100px;
margin-left:10px;
margin-top:327px;
border:1px solid #333333;
}
/*HAWB_END*/

/*OCEANLOT*/
#oceanlot_div{
float:left;
position:absolute;
width:98%;
height:226px;
margin-top:120px;
background-color:#ffffff;
margin-left:10px;
}

#oceanlot_div01{
float:left;
position:absolute;
width:99%;
margin-left:10px;
margin-top:120px;
height:585px;
overflow:auto;
}

/*OCEAN SHIPMENT*/

#oceanshipment_div{
float:left;
position:absolute;
width:1280px;
height:225px;
margin-top:120px;
background-color:#ffffff;
margin-left:10px;
}

#oceanshipment_div01{
	float:left;
	position:absolute;
	width:99%;
	margin-left:10px;
	margin-top:120px;
	height:590px;
	overflow:auto;
}

/*Invoice*/
#invoice_div{
margin-left:10px;
margin-top:25px;
margin-bottom:30px;
}

/*Invoice end*/

/*Ocean Container*/
#oceancontainer_div{
float:left;
position:absolute;
width:1280px;
height:225px;
margin-top:120px;
background-color:#ffffff;
margin-left:10px;
}
/*Ocean Container end*/

/*table*/
.table_nav1{
background-image:url(../images/bg_line.jpg);
height:24px;
border-left:1px solid #8db2e3;
border-right:1px solid #8db2e3;
border-top:1px solid #8db2e3;
border-bottom:1px solid #8db2e3 }

.table_nav2{
background-image:url(../images/bg_line_3.jpg);
height:26px;
border:1px solid #8db2e3;}

.table_center{ 
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333}

.table{
height:25px;
text-align:center;
line-height:25px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#555555;
}

.table_24{
height:23px;
text-align:center;
line-height:23px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
}
.table_25px{ 
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
height:25px;
line-height:25px}

.table_25left{ 
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
height:25px;
line-height:25px;
	width: 525px;
}

.table_line_90px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#CCCCCC;
border-bottom:1px solid #666666;
height:13px;
width:85px}
/*table end*/
.table_line_165px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#CCCCCC;
border-bottom:1px solid #666666;
height:13px;
width:175px}
/*table end*/


.text{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:80px;}

.text_60px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:60px;}

.text_70px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:75px;
}

.text_75px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:75px;

}


.text_160px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px ; 
color:#333333 ;
width:160px ;
font-family:Verdana, Arial, Helvetica, sans-serif;


}

.text_200px{
font-family:Verdana, Arial, Helvetica, sans-serif  !important;
font-size:10px  !important;
color:#333333  !important;
height:16px  !important;
line-height:16px  !important;
width:190px
}

.text_225px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:225px;}

.text_80px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:80px;}

.text_82px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:82px;}

.text_95px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:96px;}

.text_100px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:100px;}


.text_110px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:109px;}

.text_160px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:160px;}


.text_170px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:170px;}

.select{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:80px;
}
.select_70{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:73px;
}
.select_80{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:80px;
}

.select_65{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:65px;
}

.select_63{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:63px;
}

.select_60{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:60px;
}

.select_62{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:62px;
}

.select_53{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:53px;
}

.select_50{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:50px;
}

.select_160px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:150px;}


.select_170px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:170px;}

.select_180px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:183px;}

.select_190px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:190px;}

.select_200px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:195px;}



.select_140px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:140px;}

.Submit{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
cursor:hand;
font-weight:bold;
color:#333333;
width:60px;
height:18px;
line-height:18px;
}

.Submit_70px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
cursor:hand;
font-weight:bold !important;
color:#333333;
width:73px;
height:18px !important;
line-height:18px !important;
vertical-align:middle;
}

.Submit_65px{
font-family:Verdana, Arial, Helvetica, sans-serif !important;
font-size:10px !important;
cursor:hand;
font-weight:bold;
color:#333333 !important;
width:65px;
height:18px !important;
line-height:18px;
}

.Submit_1{
font-family:Verdana, Arial, Helvetica, sans-serif;  
font-size:10px;
cursor:hand;
font-weight:bold;
color:#333333;
width:50px;
height:18px;
line-height:18px;
}
.Submit_2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
cursor:hand;
font-weight:bold;
color:#333333;
width:90px;
height:18px;
line-height:18px;
}

.Submit_80px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
cursor:hand;
font-weight:bold;
color:#333333;
width:80px;
height:18px;
line-height:18px;
}

.Submit_120px{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
cursor:hand;
font-weight:bold;
color:#333333;
width:120px;
height:18px;
line-height:18px;
}

.Submit_print{
font-family:Verdana, Arial, Helvetica, sans-serif !important;
font-size:12px !important;
cursor:hand;
font-weight:bold !important;
color:#333333;
width:50px;
height:18px;
line-height:18px;
}

.textarea{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
width:260px;
height:80px;

}


/*NAV_MENU_1*/
.nav_menu_1 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:59px;
height:19px;
line-height:19px;
text-align:center;
margin-top:3px;

}
.nav_menu_1 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:59px;
height:19px;
line-height:19px;
background-image:url(../images/btn_1.jpg);
text-decoration:none;
text-align:center;
margin-top:3px;

}

/*NAV_MENU_2*/
.nav_menu_2 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:89px;
height:19px;
line-height:19px;
text-align:center;
margin-top:3px;

}
.nav_menu_2 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:89px;
height:19px;
line-height:19px;
background-image:url(../images/btn_2.jpg);
text-decoration:none;
text-align:center;
margin-top:3px;

}

/*NAV_MENU_3*/
.nav_menu_3 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:49px;
height:19px;
line-height:19px;
text-align:center;
margin-top:3px;

}
.nav_menu_3 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:49px;
height:19px;
line-height:19px;
background-image:url(../images/btn_3.jpg);
text-decoration:none;
text-align:center;
margin-top:3px;
}

/*NAV_MENU_4*/
.nav_menu_4 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-image:url(../../images/btn_4_1.jpg);
font-size:10px; 
font-weight:bold;
color:#1542af;
width:50px;
height:19px;
line-height:19px;
text-decoration:none;
text-align:center;
margin-top:3px;

}
.nav_menu_4 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:50px;
height:19px;
line-height:19px;
background-image:url(../images/btn_4.jpg);
text-decoration:none;
text-align:center;
margin-top:3px;

}


/*NAV_MENU_5*/
.nav_menu_5 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-image:url(../images/btn_5_1.jpg);
font-size:10px; 
font-weight:bold;
color:#1542af;
width:85px;
height:19px;
line-height:19px;
text-decoration:none;
text-align:center;
margin-top:3px;

}
.nav_menu_5 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:85px;
height:19px;
line-height:19px;
background-image:url(../images/btn_5.jpg);
text-decoration:none;
text-align:center;
margin-top:3px;
}


/*NAV_MENU_6*/
.nav_menu_6 a{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-image:url(../images/btn_6_1.jpg);
font-size:10px; 
font-weight:bold;
color:#1542af;
width:60px;
height:19px;
line-height:19px;
text-decoration:none;
text-align:center;
margin-top:3px;

}
.nav_menu_6 a:hover{
display:block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
color:#1542af;
width:60px;
height:19px;
line-height:19px;
background-image:url(../images/btn_6.jpg);
text-decoration:none;
text-align:center;
margin-top:3px;

}


/*LOCATION*/
#location_div01{
	float:left;
	position:absolute;
	height:100px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}
/*LOCATION END*/

/*CUSTOMERLIST*/
#CustomerList01{
float:left;
position:absolute;
width:580px;
height:400px;
margin-left:10px;
margin-top:120px;
}
/*CUSTOMERLIST END*/
/*DIV END*/

.cursor{cursor:hand; align:right; padding-left:2px; padding-right:2px}


/*WINDOW*/
.window_table{
background-color:#8db2e3;
border-bottom:1px solid #dfe8f6;
border-right:1px solid #dfe8f6;
padding-bottom:1px; padding-right:1px; padding-left:1px; padding-top:1px;

}

.window_table01{
background-color:#ffffff;
border-left:1px solid #dfe8f6;
padding-bottom:2px; 
padding-right:2px; 
padding-left:2px; 
padding-top:2px;

}

.window_table_title{
height:12px;
padding-top:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px; 
font-weight:bold;
text-align:center;
color:#1542a9
}

/*WINDOW END*/

/*WINDOW2*/
.window_table_1{
background-color:#8db2e3;
border-bottom:1px solid #dfe8f6;
border-right:1px solid #dfe8f6;
padding-bottom:1px; 
padding-right:1px; 
padding-left:1px; 
padding-top:1px;

}

.window_table01_1{
background-color:#ffffff;
border-left:1px solid #dfe8f6;}

.window_table_title_1{
height:12px;
padding-top:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px; 
font-weight:bold;
text-align:center;
color:#1542a9
}

.window_Submit{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
font-weight:bold;
text-align:center;
color:#000000;
width:70px;
cursor:hand
}
/*WINDOW2 END*/

/*TABLE BORDER*/
.table_border_1{
border-bottom:1px solid #d0d0d0;
border-right:1px solid #d0d0d0;
background-image:url(../images/bg_line_1.jpg);
height:25px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
font-weight:bold;
}

.table_border_2{
border-bottom:1px solid #ededed;
border-right:1px solid #ededed;
background-color:#FFFFFF;
height:25px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
font-weight:normal;
}

.table_border_3{
border-bottom:1px solid #ededed;
border-right:1px solid #ededed;
background-color:#ffffff;
height:25px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px; 
color:#333333;
font-weight:bold;
}
/*TABLE BORDER END*/


/*DataTable*/
.mid_div{width:100%;text-align:center;}
.title_tb,.data_tb{border-collapse:collapse;cellspacing:0;cellpadding:0;text-align:center;}
.title_div,.data_div{text-align:left; overflow:auto; background:white;}
.data_div{height:170px;}
/*DataTable END*/



 /*— Ext.NET  input select —*/
.ext-strict .x-form-text{height:14px}
table .x-form-field-wrap .x-form-trigger{height:17px;}
input,textarea,select{text-transform:uppercase; font-size:10px;color: #333;}
.x-panel-header,.x-toolbar{background-image:url(../images/bg_line_3.jpg)}
.x-combo-list-item{ height:14px; }

/*—   ComboBox ListItem  —*/
.cbStates-list{width: 100%; font: 11px tahoma,arial,helvetica,sans-serif; }
.cbStates-list td, .cbStates-list th{ padding: 3px; width: 30%; height:12px; }     
.cbStates-list th{font-weight: bold; border-bottom: solid 1px #ddd; width:auto}


/*—  强制 Chrome 执行  font-szie  —*/
body{-webkit-text-size-adjust:none}

/*—  div_top  Action  Button 操作按钮  —*/
* html,* html body{background-image:url(about:blank);background-attachment:fixed}
#div_top{position:fixed; top:0;  background:#fff; z-index:2; border:solid 1px #8DB2E3; margin-top:33px;}
#div_top table.table_nav2{border-bottom: 1px solid #8DB2E3;
	
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: 0px;
}
* html #div_top{position:absolute; top:expression(eval(document.documentElement.scrollTop));}

#div_title{position:fixed; top:0;  background:#fff; z-index:2;}
#div_title table.table_nav2{border:0px;}
* html #div_title{position:absolute; top:expression(eval(document.documentElement.scrollTop));}

/*—  div_bottom  提示  —*/
#div_bottom{ width:100%; height:25px;  background-color: #8DB2E3; position:fixed; left:0; bottom:0; z-index:9999; line-height:25px; text-indent:15px; font-weight:bold}
* html #div_bottom{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
* html #div_bottom{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
#div_bottom p{ background-image:url(../images/bg_line_3.jpg);  width:auto;  height:23px; margin-top:1px}
#div_bottom p.error{ color:#ff0000}
#div_bottom p.success{ color:Green}
#div_bottom p span{ text-decoration:underline}

.LogoutCss
{
    color:#000;
    text-decoration:underline;
    font-family:Verdana, Arial, Helvetica, sans-serif !important;
    font-size:10px;
}
.center{height:200px;width:10px;background:url(../images/center0.gif) no-repeat;cursor:pointer; }
/*Grid*/
	.x-grid3-hd-row td
	{ font-family:Verdana, Arial, Helvetica, sans-serif !important;
	  font-size:10px !important;
	  font-weight:bold !important; 
	  text-align:center !important; 
		}
	
	
	.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label
	{ font-family:Verdana, Arial, Helvetica, sans-serif !important;
	  font-size:10px !important;

	  
		}	
	
	
	.x-btn button
	{ font-family:Verdana, Arial, Helvetica, sans-serif !important;
	  font-size:10px !important;
	  font-weight:bold;

		}
	
	
	.x-form-cb-label
	{font-family:Verdana, Arial, Helvetica, sans-serif !important;
	  font-size:10px !important;

		}
		
	.x-grid3-row td, .x-grid3-summary-row td
	{font-family:Verdana, Arial, Helvetica, sans-serif !important;
	 font-size:10px !important;

		}
		
	.x-panel-header
		{font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px; 
		font-weight:bold;
		color:#1542af;

		}
		
		..ext-strict .x-form-text
		{ height:16px  !important;
		  line-height:16px !important;

			}			
			
			.x-btn-text
			{font-family:Verdana, Arial, Helvetica, sans-serif !important;
			font-size:10px !important;
			font-weight:bold !important;
			color:#000000 !important;

			}					


